@import url("./assets/ark-pixel-font.css");

* {
  padding: 0;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

html {
  color: light-dark(black, white);
  background-color: light-dark(white, black);
  &[data-scrollable="false"] {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.bio {
  > header {
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

    & .avatar {
      border: 4px solid white;
      background-color: white;
      box-shadow: 4px 4px 0px #00000022;
      width: 128px;
      height: 128px;
      background-size: contain;
      background-position: center center;
      animation-name: bounce-in;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
  }

  & label {
    background-color: light-dark(#ffffff, #ffffff15);
    padding: 4px 8px;
    flex: 1;
    display: flex;
    gap: 8px;
    overflow: hidden;
    height: max-content;

    > span {
      user-select: none;
      &::after {
        content: ":";
      }
    }

    > pre {
      text-overflow: ellipsis;
      overflow: hidden;
      flex: inherit;
    }
  }
}

.flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: end;
  }
  &.justify-right {
    justify-content: right;
  }
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.auto {
    flex: auto;
  }
  &.gap-1 {
    gap: 4px;
  }
  &.gap-2 {
    gap: 8px;
  }
  &.gap-3 {
    gap: 12px;
  }
  &.gap-4 {
    gap: 16px;
  }
}

.pad-1 {
  padding: 4px;
}

.pad-2 {
  padding: 8px;
}

.pad-3 {
  padding: 12px;
}

.pad-4 {
  padding: 16px;
}

main {
  margin: 0 auto;
  width: 600px;
  max-width: 1024px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

body {
  > header {
    background-color: light-dark(#ffffffaa, #000000aa);
    backdrop-filter: blur(1em) saturate(2);
    position: sticky;
    top: 0;
    z-index: 999;

    > h4 {
      text-shadow: 2px 2px 0px light-dark(#00000015, #ffffff55);
    }

    & .avatar {
      background-size: contain;
      background-position: center center;
      width: 48px;
      height: 48px;
      box-shadow: 4px 4px 0px light-dark(#00000015, #ffffff55);
      background-color: white;
    }
  }
}

article {
  background-color: light-dark(#00000005, #ffffff15);

  > .content {
    > pre {
      word-break: break-word;
      white-space: pre-wrap;
    }

    > .media {
      gap: 4px;
      background-color: light-dark(#ffffff15, #ffffff15);
      &[data-size] {
        > img {
          width: 128px;
          height: 128px;
        }
      }
      &[data-size="1"] {
        > img {
          width: 100%;
          height: 512px;
        }
      }
      &[data-size="2"] {
        display: flex;
        > img {
          width: 50%;
        }
      }
      &[data-size="3"] {
        display: flex;
        > img {
          width: calc(100% / 3);
        }
      }

      > img {
        object-fit: cover;
        object-position: center center;
        background-color: #00000005;
        cursor: pointer;
      }
    }
  }
}

.lang {
  &:hover {
    background-color: palevioletred;
  }
}

.active-media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: light-dark(#ffffffaa, #000000aa);
  display: block;
  overflow: auto;
  z-index: 999;
  transition: 250ms;
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  backdrop-filter: blur(1em) saturate(2);

  &[data-size="0"] {
    opacity: 0;
    transform: scale(1.25);
    pointer-events: none;
    backdrop-filter: blur(0em);
  }

  > .container {
    flex-wrap: wrap;
    height: inherit;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    > .content {
      margin: 0 auto;
      display: block;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: inherit;
    justify-content: end;

    > .close {
      margin: 12px;
      &:hover {
        background-color: red;
      }
    }
  }
}

button {
  outline: none;
  border: none;
  box-shadow: 4px 4px 0px light-dark(#00000015, #ffffff55);
  cursor: pointer;
  background-color: light-dark(black, white);
  color: light-dark(white, black);
  padding: 4px 16px;
  transition: box-shadow 250ms;
  &:hover {
    box-shadow: 2px 2px 0px light-dark(#00000015, #ffffff55);
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(-128px);
    opacity: 0;
  }
  50% {
  }
  60% {
    transform: translateY(-64px);
  }
  70% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(8px);
  }
  80% {
    opacity: 1;
    transform: translateY(-2px);
  }
  85% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
