@import url("./assets/ark-pixel-font.css");

* {
  padding: 0;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
}

html {
  color: black;
  background-color: #ffffff;
  &[data-scrollable="false"] {
    overflow: hidden;
  }
}

body {
  width: inherit;
  height: inherit;
  overflow: auto;
}

.flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: end;
  }
  &.justify-right {
    justify-content: right;
  }
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.auto {
    flex: auto;
  }
  &.gap-1 {
    gap: 4px;
  }
  &.gap-2 {
    gap: 8px;
  }
  &.gap-3 {
    gap: 12px;
  }
  &.gap-4 {
    gap: 16px;
  }
}

.pad-1 {
  padding: 4px;
}

.pad-2 {
  padding: 8px;
}

.pad-4 {
  padding: 12px;
}

.pad-5 {
  padding: 16px;
}

main {
  margin: 0 auto;
  width: 600px;
  max-width: 1024px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

body {
  &::after,
  &::before {
    content: "";
    width: 100%;
    position: fixed;
    height: 24px;
    left: 0;
  }
  &::before {
    background: linear-gradient(to bottom, white 0%, transparent 100%);
    top: 0;
  }
  &::after {
    background: linear-gradient(to top, white 0%, transparent 100%);
    bottom: 0;
  }
}

body {
  > header {
    background-color: #ffffff55;
    backdrop-filter: blur(1em) saturate(2);
    position: sticky;
    top: 0;

    > h4 {
      text-shadow: 2px 2px 0px #00000022;
    }

    > .avatar {
      object-fit: cover;
      object-position: center center;
      width: 64px;
      height: 64px;
      box-shadow: 4px 4px 0px #00000022;
      animation-name: bounce-in;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      background-color: #00000022;
    }
  }
}

article {
  background-color: #00000005;

  > .content {
    > pre {
      word-break: break-word;
      white-space: normal;
    }

    > .media {
      gap: 4px;
      &[data-size] {
        > img {
          width: 128px;
          height: 128px;
        }
      }
      &[data-size="1"] {
        > img {
          width: 100%;
          height: 512px;
        }
      }
      &[data-size="2"] {
        display: flex;
        > img {
          width: 50%;
        }
      }

      > img {
        object-fit: cover;
        object-position: center center;
        background-color: #00000005;
        cursor: pointer;
      }
    }
  }
}

.active-media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff55;
  backdrop-filter: blur(1em) saturate(2);
  display: block;
  overflow: auto;
  z-index: 999;
  opacity: 1;
  transition: 250ms;
  pointer-events: all;
  transform: scale(1);
  &[data-size="0"] {
    opacity: 0;
    transform: scale(1.25);
    pointer-events: none;
    backdrop-filter: blur(0em);
  }

  > .container {
    flex-wrap: wrap;
    height: inherit;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    > .content {
      margin: 0 auto;
      display: block;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center center;
      filter: drop-shadow(4px 4px 0px #00000055);
    }
  }

  > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: inherit;
    justify-content: end;

    > .close {
      margin: 12px;
      &:hover {
        color: #000000;
        background-color: red;
      }
    }
  }
}

button {
  outline: none;
  border: none;
  box-shadow: 4px 4px 0px #00000022;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 4px 8px;
  transition: box-shadow 250ms;
  &:hover {
    box-shadow: 2px 2px 0px #00000022;
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-128px);
  }
  30% {
    opacity: 1;
    transform: translateY(-64px);
  }
  50% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(8px);
  }
  70% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
